<h1>Classrooms In School: <%= @school.name %></h1>
<br />

<% @classrooms.each do |classroom| %>
  <div>
    <%= link_to classroom.name, school_classroom_path(@school, classroom) %>
  </div>
<% end %>

<%= link_to 'Create Classrooms', new_school_classroom_path(@school), class: 'btn' %>
<%= link_to 'School', schools_path(@school), class: 'btn' %>