<h1 id='header'> SCHOOL </h1>
<hr/>

<% if @schools.any? %>
	<div class='row'>
		<% @schools.each do |school| %>
      <div class="col s12 m6">
       <div class="card black">
         <div class="card-content white-text">
           <span class="card-title"><%= school.name %></span>
         </div>
         <div class="card-action">
           <%= link_to 'School Details', school_path(school), class: 'school-show-btn btn red' %>
         </div>
       </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3 id='no-schools-header'>No Schools Found!!</h3>
<% end %>

<%= link_to 'New School', new_school_path, id: 'new-school-btn', class: 'btn' %> 